* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  /* position: relative; */
  cursor: none;
}

video {
    height: 100%;
    width: 100%;
}

:root{
    --x : 400px;
    --y : 400px

}
.box{
    height: 100%;
    width: 100%;
    /* background-color: black; */
    background: radial-gradient(120px at var(--x) var(--y),rgba(255, 255, 255, 0),rgba(0, 0, 0, 0.906) );
    position: absolute;
}