*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

html,body{
    height: 100%;
    width: 100%;
}

body{
    background-color: black;
}


#main{ margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    align-items: center;

}
#btn{
    display: flex;
    gap: 1rem;
}



button{
    padding: 0.5rem;
    border-radius: 10px;
    border: none;
    color: black;
    font-size: 1.5rem;
    cursor: pointer;

}