* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

main{
    color: white;
    height: 100%;
    width: 100%;
    background-color: black;

}
.elem{
    padding: 3rem;
    /* width: 80%; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(0, 0, 0);
}

button{
    padding: 20px 40px;
    border-radius: 20px;
    border: none;
}