* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: monospace;
}

main {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
#first {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 15px;
}

#btn {
  margin-top: 2rem;
  padding: 8px 25px;
  border: none;
  border-radius: 2px;
  background-color: rgb(71, 71, 71);
  color: white;
  cursor: pointer;
  font-size: 20px;
}

#btn:active {
  scale: 0.95;
  background-color: black;
}

#second h1 {
  display: inline-block;

  /* display: flex; */
  /* flex-direction: column; */
  gap: 10px;
}
.row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.abc {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 10px;
}
