* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body{
    background-color: black;
    color: white;
    overflow: hidden;
}

main {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

button{
    border-radius: 50%;
    border: none;
    /* border: 2px solid green; */
    background-color: transparent;
    padding: 10px 10px;
    /* z-index: 5; */
    

}

h1{
    z-index: 5;
}
