* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}
body {
  background: linear-gradient(
    135deg,
    #feda75,
    #fa7e1e,
    #d62976,
    #962fbf,
    #4f5bd5
  );
}

main {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#card {
  padding: 20px;
  /* height: 380px; */
  width: 300px;
  border-radius: 10px;
  background-color: white;
  position: absolute;
}

#card img {
  width: 100%;
  height: 280px;
  object-fit: cover;
  margin-bottom: 10px;
  border-radius: 10px;
}

#card h1 {
  color: red;
  text-align: center;
}

#card div{
    position: relative;
    overflow: hidden;
}

#card i {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  opacity: 0;
  background-image: url(https://t3.ftcdn.net/jpg/01/14/77/58/360_F_114775804_4yfG9qbKp1NlF1RLo4MUlGIVj9MWhnnc.jpg);
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transform: translate((-50%, -50%) scale(0) rotate(-60deg));
  transition: all cubic-bezier(0.65, 1, 0.77, 1.44) 0.4s;
}
