* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

@property --rotate {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes borderAnimat {
  from {
    --rotate: 0deg;
    /* box-shadow: 0 0 50px transparent; */
  }
  to {
    --rotate: 360deg;
  }
}

.box {
  padding-inline: 10px;
  padding-bottom: 10px;
  width: 350px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 15px;
  border-radius: 15px;
  transition: 0.3s ease;
}

.box img {
  /* height: 350px; */
  width: 100%;
}

.box p{
  font-size: 20px;

}

.box:hover {
  background: linear-gradient(black) padding-box,
    conic-gradient(from var(--rotate), black, rgb(255, 0, 180), black)
      border-box;
  box-shadow: 0 0 50px rgb(255, 0, 223);

  border: 3px solid transparent;

  animation: borderAnimat 2s linear infinite;
}
.box:hover h1,
.box:hover p {
  color: rgb(255, 0, 180);
  text-shadow: 0 0 40px rgb(255, 0, 180);
}
