* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

@property --rotate {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes borderAnimat {
  from {
    --rotate: 0deg;
    /* box-shadow: 0 0 50px transparent; */
  }
  to {
    --rotate: 360deg;
  }
}

.box {
  padding-inline: 10px;
  padding-bottom: 10px;
  width: 350px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(black) padding-box,
    conic-gradient(from var(--rotate), black, #6282ff, black) border-box;
  box-shadow: 0 0 0px;

  border: 0px solid transparent;

  animation: borderAnimat 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-play-state: paused;
  gap: 15px;
  border-radius: 15px;
  transition: all 0.3s linear;
  color: white;
  text-shadow: 0 0 0px #2e53e5;
}

.box img {
  /* height: 350px; */
  width: 100%;
}

.box p {
  font-size: 20px;
}

.box:hover {
  animation-play-state: running;
  border-width: 5px;
  box-shadow: 0 0 40px #2445c8;
  color: #3257ed;
  text-shadow: 0 0 40px #2e53e5;
}
